@import url('https://fonts.googleapis.com/css?family=Courgette|Kalam&display=swap');


.container {
    position: relative;
    width: 550px;
    height: 300px;
    margin: 50px auto;
    background-color: rgb(92, 92, 92);
}

#input_tl {
    position: absolute;
    left: -35px;
}

#input_tr {
    position: absolute;
    right: -35px;
}

#input_bl {
    position: absolute;
    left: -35px;
    bottom: 0px;
}

#input_br {
    position: absolute;
    right: -35px;
    bottom: 0px;
}

input {
    width: 18px;
    padding: 2px;
    text-align: center;
    color: white;
    outline: none;
    border: 1px solid rgb(54, 50, 50);
    background-color: rgb(119, 109, 109);
}

/* TODO: pensando sobre a fonte ainda...*/
.logo {
    text-align: center;
    font-size: 50px;
    font-family: 'Kalam', cursive; 
    /* font-family: 'Courgette', cursive; */

}

.surface {
    padding: 45px 0px 0px 65px;
}

#code {
    width: 400px;
    height: 200px;
    resize: none;
}